.overlay {
  z-index: 100001;
  background: black;
  position: relative;

  .bg {
    z-index: 100001;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
  }
}
