<mat-card>
  <mat-card-content>

    <ng-container *ngIf="previousStep">
      <div class="overlay">
        <ng-container
          *ngTemplateOutlet="previousStep; context: {$implicit: context}">
        </ng-container>
        <div class="bg"></div>
      </div>


    </ng-container>

    <ng-container
      *ngTemplateOutlet="activeStep; context: {$implicit: context}">
    </ng-container>

  </mat-card-content>

  <mat-card-actions>
    <button mat-button (click)="previous()">{{ activeStepDirective?.previous }}</button>
    <button mat-button (click)="next()">{{ activeStepDirective?.next }}</button>
  </mat-card-actions>

</mat-card>
