<section style="padding: 5rem">

  <app-stepflow>
    <ng-template appStep next="Volgende" previous="Vorige">
      <mat-card>
        <mat-card-content>
          Test 1
        </mat-card-content>
      </mat-card>
    </ng-template>

    <ng-template appStep let-context>
      <mat-card>
        <mat-card-content>
          test 2
          <button mat-button (click)="context.next()">Ook volgende</button>
        </mat-card-content>
      </mat-card>
    </ng-template>

    <ng-template appStep [nextAllowed]="validateFn">
      <mat-card>
        <mat-card-content>
          <app-step-with-form
            (valid)="validated($event)">
          </app-step-with-form>
        </mat-card-content>
      </mat-card>
    </ng-template>

    <ng-template appStep>
      <mat-card>
        <mat-card-content>
          Test 4
        </mat-card-content>
      </mat-card>
    </ng-template>

    <ng-template appStep>
      <mat-card>
        <mat-card-content>
          Test 5
        </mat-card-content>
      </mat-card>
    </ng-template>

  </app-stepflow>

</section>
